/* Sizes for chooser control in the basic game */
.chooser.basic {
  --diameter: 350px;
  --item-size: 130px;
  --border-width: 15px;
  --offset: calc((var(--diameter) - var(--item-size)) / 2);
}
/* Sizes for chooser control in the spock game */
.chooser.spock {
  --diameter: 350px;
  --item-size: 100px;
  --border-width: 10px;
  --offset: calc((var(--diameter) - var(--item-size)) / 2);
}

.badge {
  --icon-size: var(--item-size);
  --image-size: calc(var(--icon-size) / 2.5);

  border-radius: 50%;
  border: none;
  color: transparent;
  background: white;
  box-shadow: 0 5px #00000025 inset;

.badge.rock {
  background: white url('../images/icon-rock.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(349, 70%, 46%);
  --start-color: hsl(349, 71%, 52%);
  --end-color: hsl(349, 70%, 56%);
}
.badge.paper {
  background: white url('../images/icon-paper.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(230, 89%, 46%);
  --start-color: hsl(230, 89%, 62%);
  --end-color: hsl(230, 89%, 65%);
}
.badge.scissors {
  background: white url('../images/icon-scissors.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(40, 84%, 46%);
  --start-color: hsl(39, 89%, 49%);
  --end-color: hsl(40, 84%, 53%);
}
.badge.lizard {
  background: white url('../images/icon-lizard.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(261, 72%, 46%);
  --start-color: hsl(261, 73%, 60%);
  --end-color: hsl(261, 72%, 63%);
}
.badge.spock {
  background: white url('../images/icon-spock.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(189, 59%, 46%);
  --start-color: hsl(189, 59%, 53%);
  --end-color: hsl(189, 58%, 57%);
}
