/* Sizes for chooser control in the basic game */
.chooser.basic {
  --diameter: 350px;
  --item-size: 130px;
  --border-base: 15px;
  margin-top: calc(-1 * (var(--item-size) /4))
}
/* Sizes for chooser control in the spock game */
.chooser.spock {
  --diameter: 350px;
  --item-size: 100px;
  --border-base: 10px;
}

.chooser {
  --offset: calc((var(--diameter) - var(--item-size)) / 2);
}

.display {
  --item-size: 130px;
  --border-base: 15px;
}

.badge {
  --icon-size: var(--item-size);
  --border-width: var(--border-base);
  --image-size: calc(var(--icon-size) / 2.5);
  --anim-time: 0.25s;

  position: relative;
  width: calc(var(--icon-size) - (var(--border-width) * 2));
  height: calc(var(--icon-size) - (var(--border-width) * 2));
  margin: var(--border-width);
  border-radius: 50%;
  border: none;
  color: transparent;
  background: white;
  box-shadow: 0 5px #00000025 inset;

  transition: var(--anim-time);
}

button.badge:hover {
  --icon-size: calc(var(--item-size) * 1.15);
  --border-width: calc(var(--border-base) * 1.15);
}

.badge::before {
  content: '';

  position: absolute;
  z-index: -1;

  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: inherit;

  background: linear-gradient(0deg,
    var(--start-color) 0%,
    var(--end-color) 100%);
  box-shadow: 0 5px var(--shadow-color);

  transition: var(--anim-time);
}

.badge.empty {
  background-color: rgba(0,0,0,0.25);
  --shadow-color: none;
  --start-color: none;
  --end-color: none;
}
.badge.rock {
  background: white url('../images/icon-rock.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(349, 70%, 36%);
  --start-color: hsl(349, 71%, 52%);
  --end-color: hsl(349, 70%, 56%);
}
.badge.paper {
  background: white url('../images/icon-paper.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(230, 89%, 46%);
  --start-color: hsl(230, 89%, 62%);
  --end-color: hsl(230, 89%, 65%);
}
.badge.scissors {
  background: white url('../images/icon-scissors.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(40, 84%, 36%);
  --start-color: hsl(39, 89%, 49%);
  --end-color: hsl(40, 84%, 53%);
}
.badge.lizard {
  background: white url('../images/icon-lizard.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(261, 72%, 46%);
  --start-color: hsl(261, 73%, 60%);
  --end-color: hsl(261, 72%, 63%);
}
.badge.spock {
  background: white url('../images/icon-spock.svg') center/var(--image-size) no-repeat;
  --shadow-color: hsl(189, 59%, 36%);
  --start-color: hsl(189, 59%, 53%);
  --end-color: hsl(189, 58%, 57%);
}

/*
 * Desktop Styles
 */
@media only screen and (min-width: 1366px) {
  .chooser.basic {
    --diameter: 500px;
    --item-size: 200px;
    --border-base: 22px;
  }
  .chooser.spock {
    --diameter: 500px;
    --item-size: 150px;
    --border-base: 16px;
  }
  .display {
    --item-size: 290px;
    --border-base: 35px;
  }
}
