.chooser ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  
  width: 350px;
  height: 350px;
}

.chooser li {
  position: absolute;
  top: 50%;
  left: 50%;
  
  /*
    --s = angle offset
    --a = item angle
  */
  --s: calc(0.25 * (1 / var(--n)));
  --a: calc((var(--s) * 1turn) + var(--i) * (1turn / var(--n)));
  
  transform:
    translate(-50%, -50%)       /* Move item to center */
    rotate(var(--a))            /* Rotate to align with required position */
    translate(150px)            /* Move to circle boundary */
    rotate(calc(-1*var(--a)));  /* Realign rotation with page */
}
