.chooser {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  --diameter: 350px; /*450px;*/
  --item-size: 130px; /*200px;*/
  --offset: calc((var(--diameter) - var(--item-size)) / 2);
}
.chooser > .circle {
  position: absolute;
  left: calc(var(--item-size) / 2);
  top: calc(var(--item-size) / 2);
  width: calc(var(--offset) * 2);
  height: calc(var(--offset) * 2);

  border-radius: 50%;
  border: 15px solid #00000025;
}

.chooser ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  
  width: var(--diameter);
  height: var(--diameter);
}

.chooser li {
  position: absolute;
  top: 50%;
  left: 50%;
  
  /*
    --s = angle offset
    --a = item angle
  */
  --s: calc(0.25 * (1 / var(--n)));
  --a: calc((var(--s) * 1turn) + var(--i) * (1turn / var(--n)));
  
  transform:
    translate(-50%, -50%)       /* Move item to center */
    rotate(var(--a))            /* Rotate to align with required position */
    translate(var(--radius))    /* Move to circle boundary */
    rotate(calc(-1*var(--a)));  /* Realign rotation with page */

.choice-icon {
  /* display: none; */
  width: var(--item-size);
  height: var(--item-size);
  border-radius: 50%;
  color: black;
  background: white;
  border: none;
}
