/*
 * Note: Requires the following variables to be set,
 *        preferably on the .chooser parent:
 *
 *  --diameter: Diameter of chooser control
 *  --item-size: Diameter of choice items
 *  --offset: The distance from the chooser center that items should appear
 *
 * List requires:
 *  --n: The total number of items
 *
 * Items require:
 *  --i: The item's list position (1-n)
 */

.chooser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chooser > .circle {
  position: absolute;
  left: calc(var(--item-size) / 2);
  top: calc(var(--item-size) / 2);
  width: calc(var(--offset) * 2);
  height: calc(var(--offset) * 2);

  border-radius: 50%;
  border: 15px solid #00000025;
}

.chooser ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;

  width: var(--diameter);
  height: var(--diameter);
}

.chooser li {
  position: absolute;
  top: 50%;
  left: 50%;

  /*
    --s = chooser start rotation
    --a = item angle
  */
  --s: calc(0.75 * (1 / var(--n)));
  --a: calc((var(--s) * 1turn) + var(--i) * (1turn / var(--n)));

  transform:
    translate(-50%, -50%)         /* Move item to center */
    rotate(var(--a))              /* Rotate to align with required position */
    translate(var(--offset))      /* Move to circle boundary */
    rotate(calc(-1 * var(--a)));  /* Realign rotation with page */
}

/*
 * Desktop Styles
 */
@media only screen and (min-width: 1366px) {
  .chooser {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
  }
}
