.title-bar {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  border: 3px solid var(--header-outline-color);
  border-radius: 10px;
  padding: 17px;

  font-weight: 700;
}

}

.score-wrapper {
  justify-self: end;
}

/*
 * Desktop styles
 */
@media only screen and (min-width: 1366px) {
  header {
    display: flex;
    justify-content: center;
  }
  .title-bar {
  }
  }
}
