.menu-icon {
  background: none;
  border: none;
}

.menu-icon:hover {
  filter: drop-shadow(0 0 5px white);
}

.menu-icon img {
  width: 24px;
  height: 24px;
}

.menu-dialog {
  position: absolute;
  top: calc(100% + 3px);

  overflow: hidden;

  left: 5%;
  height: 0;
  width: 90%;
  color: black;
  z-index: 99;

  background-color: white;
  border-radius: 0 0 20px 20px;

  box-shadow: 0 5px 5px #00000060, inset 0 20px 20px -20px rgba(0,0,0,0.8);

  transition: height 1s;
}

.menu-dialog.show {
  height: 200px;
}

.menu-wrapper {
  padding: 10px;
}

.menu-dialog h2 {
  color: var(--dark-color);
  text-transform: uppercase;
  text-align: center;
}

.menu-close {
  border: none;
  background: transparent;
}
