@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  /* Screen Sizes */
  --mobile-width: 375px;
  --mobile-content-width: 375px;
  --desktop-width: 1366px;
  --desktop-content-width: 700px;
  /* Colours */
  --light-color: white;
  --dark-color: hsl(229, 25%, 31%);
  --score-color: hsl(229, 64%, 46%);
  --header-outline-color: hsl(217, 16%, 45%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  background-size: 100%;
  background-repeat: no-repeat;

  font-family: 'Barlow Semi Condensed', sans-serif;

  min-height: 100vh;
  color: var(--light-color);
}

body {
  max-width: var(--mobile-content-width);
  padding: 30px;
  margin: auto;
}

 /*
  * Desktop styles
  */
@media only screen and (min-width: 1366px) {
  body {
    max-width: var(--desktop-width);
  }
  header {
    display: flex;
    justify-content: center;
  }

  .score-panel {
    padding: 5px 40px;
  }
  .score-title {
    font-size: 18px;
  }
  .score-display {
    font-size: 64px;
  }
  .score-panel {
    display: inline-block;
    background-color: var(--light-color);
    color: var(--score-color);
    padding: 5px 20px;
    border-radius: 5px;
    height: 100%;

    text-transform: uppercase;
  }
  .score-panel p {
    text-align: center;
    margin: 0;
  }
  .score-title {
    font-size: 12px;
  }
  .score-display {
    color: var(--dark-color);
    font-weight: 700;
    font-size: 32px;
  }
  footer {
    margin: auto;
    max-width: var(--desktop-width);
  }
}
