@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  /* Sizes */
  --mobile-width: 375px;
  --desktop-width: 1366px;
  /* Colours */
  --light-color: white;
  --dark-color: hsl(229, 25%, 31%);
  --score-color: hsl(229, 64%, 46%);
  --header-outline-color: hsl(217, 16%, 45%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
